.footer-section {
  color: white;
  background-image: url("../images/3.jpg");
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.footer-section .blur {
  padding: 50px 180px 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgb(15, 15, 53);
  /* background: linear-gradient(33deg, rgba(15,15,53,0.8) 65%, rgba(0,134,255,0.4) 100%); */
  background: rgb(15, 15, 53);
  background: linear-gradient(
    33deg,
    rgba(15, 15, 53, 0.6) 78%,
    rgba(0, 134, 255, 0.4) 100%
  );
  backdrop-filter: blur(5px) !important;
  height: 100%;
}
.footer-section .content-section {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
}
.brand-section{
    max-width: 400px;
}
.brand-section h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.brand-section p{
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400 !important;
}
.link-section {
  display: grid;
  grid-gap:150px;
  grid-template-columns: auto auto;
}
.link-section h6{
    font-size: 18px;
}
.link-section ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.link-section ul li {
  margin: 10px 0px;
}
.copyright-section {
  font-family: "ABeeZee", sans-serif;
  color: white;
}
