/* font-family: 'ABeeZee', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Montserrat', sans-serif; */

.header-section{
    padding: 120px 180px;
}
.header-main-div{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
}
.header-main-div .text-section{
    color: white !important;
}
.header-main-div .text-section h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 30px;
}
.header-main-div .text-section h1 span{
    color: rgb(124, 116, 116);
}
.header-main-div .text-section p{
    max-width: 600px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    color: rgb(153, 149, 149);
    margin-bottom: 30px;
}
.free-feature{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding: 5px 15px;
}

/* //////////Button/////////// */

.button-79 {
  backface-visibility: hidden;
  /* background: #332cf2; */
  background: #2e18c5;
  border: 0;
  border-radius: 40px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 0.8rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-79:disabled {
  color: #787878;
  cursor: auto;
}

.button-79:not(:disabled):hover {
  transform: scale(1.05);
}

.button-79:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-79:focus {
  outline: 0 solid transparent;
}

.button-79:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-79:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-79:not(:disabled):active {
  transform: translateY(.125rem);
}

/* //////////Button/////////// */