@import url("https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ruda:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
.nav-container{
    padding: 0px !important;
}
.navbar-section{
    background-color: #0693e3;
    font-family: 'Amiko', sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding : 3px 200px 150px !important;
}
.nav-item{
    color: white !important;
    font-size: 18px;
    font-family: 'Hammersmith One', sans-serif !important;
}
.navbar-expand-lg{
    justify-content: center !important;
}
.navbar-section .brand{
    font-family: 'Ubuntu', sans-serif;
    color: white !important;
    font-size: 26px;
    font-weight: 600;
}
.navbar-section .nav-container{
    margin: 0 !important;
}
.mr-auto{
    margin-right: 0px !important;
}
.navbar-collapse{
    justify-content: flex-end;
    align-items: flex-end;
    display: inline-block;
    
}